:root {
    --primary-color: #ffa31a;
    --secundary-color: #808080;
    --third-color: #292929;
    --background-color: #1b1b1b;
    --white-color: #ffffff;
}


body {
    background-color: var(--color-fondo);
    color: var(--color-primario);
}


