// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #ff9000;
$secundary-color: #808080;
$third-color: #292929;
$background-primary-color: #0e0e0e;
$background-secundary-color: #1b1b1b;
$white-color: #ffffff;
